.letter{
    margin:5px;
    display: inline-block;
    width:100px; 
    height:75px; 
    background-color:#efefef; 
    text-align:center; 
    vertical-align:middle; 
    line-height:75px;
    cursor: pointer;
    font-family: arial, sans-serif;
}

.letter-hover{
    background-color: #aaaaaa;
}