<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--3-col"></div>
    <div class="mdl-cell mdl-cell--6-col">
        <!--Title-->
        <h3>{{model.currentCondition?.title}}</h3>

        <!--Text-->
        <div id="text" *ngIf="model?.currentMode == 0">
            <text-display [fileName]="model.currentFilename"></text-display>
        </div>
        <!--Image-->
        <div id="image" *ngIf="model?.currentMode == 1">
            <image-display [fileName] = "model.currentFilename"></image-display>
        </div>
        <!--Animation-->
        <div id="animation" *ngIf="model?.currentMode == 2">
            <animation-display [fileName] = "model.currentFilename"></animation-display>
        </div>

        <!--Finished-->
        <div id="finished" *ngIf="model?.currentState == 4">
            <p>
                Thank you for participating in our study. Please alert the research assistant that you are now finished. 
            </p>
            <p>
                If you have any questions or concerns about this study, please see the contact information on the consent form you signed
                prior to beginning this study. 
            </p>
            <p>
                This research is intended to improve the design of learning interventions using electronic medium.
            </p>
        </div>

        <div *ngIf="model?.showTestUrl">
            <hr/>
            <h5>Study complete!</h5>
            <p>
                You have completed studying this content. When you are ready, please click on the link below to take the test.
            </p>
            <p>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" (click)="goToTest()">Click here to go to test</button>
            </p>
        </div>

        <div style="margin-top: 3em">
            <button *ngIf="model?.canPrevious" (click)="previous()" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Previous Page</button>
            <button (click)="next()" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Next Page</button>
        </div>
    </div>
</div>




<!--<p>
        Group info: {{model.currentGroup.id}} {{model.currentGroup.pid}} {{model.currentGroup.gid}}
    </p>
    <p *ngFor="let c of model.myTopics">
        {{c}}
    </p>

    <p>
        {{model.myConditions[0]?.fileNames[0]}}
    </p>-->