<div class="letter-grid-container">
    <div>
        <div >
            <letter [displayLetter]="'F'" (selected)="letterSelected($event)"></letter>
            <letter [displayLetter]="'H'" (selected)="letterSelected($event)"></letter>
            <letter [displayLetter]="'J'" (selected)="letterSelected($event)"></letter>
        </div>
        <div >
            <letter [displayLetter]="'K'" (selected)="letterSelected($event)"></letter>
            <letter [displayLetter]="'L'" (selected)="letterSelected($event)"></letter>
            <letter [displayLetter]="'N'" (selected)="letterSelected($event)"></letter>
        </div>
        <div>
            <letter [displayLetter]="'P'" (selected)="letterSelected($event)"></letter>
            <letter [displayLetter]="'Q'" (selected)="letterSelected($event)"></letter>
            <letter [displayLetter]="'R'" (selected)="letterSelected($event)"></letter>
        </div>
        <div>
            <letter [displayLetter]="'S'" (selected)="letterSelected($event)"></letter>
            <letter [displayLetter]="'T'" (selected)="letterSelected($event)"></letter>
            <letter [displayLetter]="'Y'" (selected)="letterSelected($event)"></letter>
        </div>
    </div>
</div>